:root {
    --nav-height: 50px;

}

html, body {
    margin: 0;
}

body {
    background-image: url("./wine-bar.jpg");
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

header {
    margin-bottom: 25px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.559);
    height: var(--nav-height);
    font-weight: bold;
}

nav > button {
    margin: 10px;
    background-color: black;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - var(--nav-height));
    font-style: italic;
}

.content-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.806);
    color: white;
    width: 50%;
    border-radius: 10px;
}

.content-container > h1 {
    font-size: 48px;
}

.content-container > p {
    font-size: 24px;
}

.content-container > p, h2 {
    text-align: center;
}

.menu h1 {
    font-size: 36px;
    margin-bottom: 0px;
}

.menu p:last-child {
    margin-bottom: 10px;
}
